In [47]:
import pandas as pd
import numpy as np

In [48]:
DIR = "/Users/damoncrockett/vosd.org/215-opendsd/tables/"

In [49]:
customers = pd.read_csv(DIR+'customers_complete.csv')
del customers['Unnamed: 0']

In [50]:
len(customers)

857918

In [51]:
fees = pd.read_csv(DIR+'fees_project_year.csv')
fees.set_index('ProjectId',inplace=True)

In [80]:
fees.columns

Index([u'TotalAmount', u'yr_rounded'], dtype='object')

In [52]:
customers = customers.join(fees,on='ProjectId')

In [53]:
len(customers)

857918

In [54]:
parcels = pd.read_csv(DIR+'approvals_parcels_CPA.csv')
del parcels['Unnamed: 0']

In [55]:
parcels = parcels[['ProjectId',
                   'StreetAddress',
                   'Latitude',
                   'Longitude',
                   'asr_land',
                   'asr_impr',
                   'asr_total',
                   'shape_area',
                   'own_name1',
                   'nucleus_zo',
                   'nucleus_us',
                   'unitqty',
                   'lat',
                   'lon',
                   'community_name']]

In [56]:
parcels = parcels[parcels.lat.notnull()]
parcels.reset_index(drop=True,inplace=True)

In [57]:
l = list(parcels.columns)
for column in l:
    print column, len(parcels[column].value_counts())

ProjectId 202802
StreetAddress 148012
Latitude 94288
Longitude 90540
asr_land 41853
asr_impr 62315
asr_total 73511
shape_area 111392
own_name1 114344
nucleus_zo 13
nucleus_us 162
unitqty 291
lat 111524
lon 111496
community_name 57

In [58]:
cols = parcels.columns[1:]

In [59]:
parcels.sort('ProjectId',inplace=True)

In [60]:
'''

l = []

for col in cols:
    for i in range(len(parcels) - 1):
            if parcels.ProjectId.loc[i] == parcels.ProjectId.loc[i+1]:
                if parcels[col].loc[i] != parcels[col].loc[i+1]:
                    l.append(col)
    print col
'''

'\n\nl = []\n\nfor col in cols:\n    for i in range(len(parcels) - 1):\n            if parcels.ProjectId.loc[i] == parcels.ProjectId.loc[i+1]:\n                if parcels[col].loc[i] != parcels[col].loc[i+1]:\n                    l.append(col)\n    print col\n'

In [61]:
from collections import Counter
Counter(l)

Counter({'shape_area': 1, 'unitqty': 1, 'own_name1': 1, 'lon': 1, 'ProjectId': 1, 'nucleus_us': 1, 'Longitude': 1, 'community_name': 1, 'asr_total': 1, 'lat': 1, 'StreetAddress': 1, 'asr_impr': 1, 'Latitude': 1, 'asr_land': 1, 'nucleus_zo': 1})

In [62]:
parcels.set_index('ProjectId',inplace=True)

In [63]:
customers = customers[customers.TotalAmount.notnull()]

In [64]:
d = customers.join(parcels,on='ProjectId')

In [65]:
len(d)

1516252

In [66]:
d = d[d.lat.notnull()]

In [67]:
d.reset_index(drop=True,inplace=True)

In [68]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1420591 entries, 0 to 1420590
Data columns (total 21 columns):
CustomerId        1420591 non-null int64
FirmName          1090745 non-null object
Name              1420591 non-null object
ProjectId         1420591 non-null int64
Role              1420591 non-null object
TotalAmount       1420591 non-null float64
yr_rounded        1420591 non-null float64
StreetAddress     1420591 non-null object
Latitude          1420591 non-null float64
Longitude         1420591 non-null float64
asr_land          1420591 non-null float64
asr_impr          1420591 non-null float64
asr_total         1420591 non-null float64
shape_area        1420591 non-null float64
own_name1         1420591 non-null object
nucleus_zo        1420591 non-null float64
nucleus_us        1420591 non-null float64
unitqty           1420591 non-null float64
lat               1420591 non-null float64
lon               1420591 non-null float64
community_name    1420591 non-null object
dtypes: float64(13), int64(2), object(6)
memory usage: 238.4+ MB

In [69]:
del d['StreetAddress']
del d['CustomerId']

In [70]:
del d['Latitude']
del d['Longitude']

In [71]:
d.iloc[:,:5].head()

,FirmName,Name,ProjectId,Role,TotalAmount
0,"Hotel Circle Partners, LLC",Bob Kaplan,1102,Financial Responsibl,4490
1,San Diego City Schools,William Dos Santos,1102,Agent,4490
2,Project Design Consultants,Ted Haubrick,1102,Point of Contact,4490
3,Antonio Zuazo Consulting Serv,Antonio Zuazo,1164,Point of Contact,2500
4,Eduardo Aceves,Eduardo Aceves,1164,DA-DS 3242,2500

In [72]:
l = list(d.columns)
for column in l:
    print column, len(d[column].value_counts())

FirmName 45435
Name 157538
ProjectId 196737
Role 45
TotalAmount 53653
yr_rounded 12
asr_land 40468
asr_impr 60323
asr_total 70954
shape_area 106024
own_name1 109195
nucleus_zo 13
nucleus_us 161
unitqty 289
lat 106152
lon 106126
community_name 57

In [73]:
d.own_name1.value_counts().head()

CITY OF SAN DIEGO          23569
KILROY REALTY L P          12546
FASHION VALLEY MALL LLC     9852
ARDEN REALTY LTD PTNSHP     6825
IRVINE CO                   6461
dtype: int64

In [74]:
tmp = d[['FirmName','asr_total','asr_land','asr_impr','TotalAmount']]
t = tmp.groupby('FirmName').agg(np.median)
t['count'] = tmp.groupby('FirmName').size()
t.sort('count',ascending=False)[:45].reset_index()

,FirmName,asr_total,asr_land,asr_impr,TotalAmount,count
0,Permits in Motion,754000.0,384956.0,338131.0,2585.120,24425
1,Barbara Harris Permitting,10210841.0,2650000.0,6225410.0,5247.305,16564
2,Sunshine Permit Service Inc,15723300.0,4378538.0,9725731.0,4383.810,15677
3,Owner,412917.0,202353.0,184278.0,837.500,12114
4,Permit Solutions,6200000.0,2142000.0,3528442.0,6056.970,11694
5,California Delta Mechanical,290000.0,116696.0,146102.0,651.000,10710
6,Barbara Harris Permits,11507485.0,3442352.0,7782640.0,5216.680,8179
7,Barbara Harris Permitting Serv,936773.0,449484.5,368546.0,12594.535,6688
8,A & J Foster,274614.0,110000.0,136125.0,1860.000,6050
9,ARS,300700.0,126458.0,155951.0,239.500,5968
10,Permit Us,2900000.0,1095202.0,1280936.0,3318.950,5223
11,SOUTHERN CONTRACTING CO.,273500.0,135750.5,111031.0,3502.000,5164
12,Schmidt Fire Protection,25716014.0,4872235.0,18850000.0,7030.515,4952
13,Western Fire Protection,33262087.0,7074720.0,24100000.0,4273.260,4917
14,Pardee Homes,728000.0,325000.0,350000.0,177275.180,4483
15,S & L Specialty Contractg Inc.,216411.0,129358.0,100668.0,19127.680,4039
16,PAM'S PERMITTING,34680000.0,6000000.0,27174687.0,6438.450,3935
17,Vivint Solar,298000.0,119285.0,147234.0,384.000,3883
18,Fast Water Heater,250911.0,95475.0,130978.0,372.000,3811
19,PAM'S PERMITING,13092570.0,5870111.0,8130739.0,11957.820,3676
20,Pam's Permitting,10463819.0,3810150.0,5000000.0,11073.210,3551
21,ASI Heating & Air,280000.0,114282.0,138564.0,384.000,3539
22,Burger Construction,33150000.0,6000000.0,22993431.0,4601.270,3440
23,Precise Permits,316200.0,150000.0,162276.0,15803.260,3430
24,Jones Payne Group,250000.0,131028.0,114351.0,18031.230,3405
25,DELTA MECHANICAL,292351.0,119772.0,147256.5,165.000,3136
26,Sunshine Permits,16140000.0,4681800.0,10020000.0,5515.595,2896
27,Sunshine Permit,8400000.0,2564919.0,4200000.0,3581.880,2863
28,Affordable Water Heaters,342565.0,140777.0,168700.0,465.000,2825
29,owner,449076.0,232492.0,213170.0,1200.620,2683
30,Permits In Motion,768853.0,463500.0,310303.5,2828.580,2566
31,Jones Payne,263525.0,156860.0,112591.0,16706.080,2552
32,Bycor Construction,30000000.0,7000000.0,26500000.0,5043.070,2351
33,TIERRASANTA HEATING & AIR,194884.5,86482.5,95148.0,489.500,2330
34,SolarCity,369040.0,169000.0,190311.0,394.000,2316
35,All Star Water Heater,248022.0,97989.5,130351.0,169.000,2278
36,Pacific Building Group,18840363.0,4200000.0,12800000.0,5839.320,2208
37,ANDERSON PLUMBING,304724.0,134984.0,147570.0,276.000,2202
38,Mission Pools,1328173.0,617738.5,600000.0,1120.200,2150
39,JJJ Enterprises,18840363.0,3075000.0,13260000.0,19810.870,2136
40,Rollins Const Consulting,1573173.0,1000000.0,400000.0,4755.940,2083
41,Sullivan Solar Power,505342.0,220254.0,244117.0,384.000,2042
42,DEBRA,330476.0,141328.0,169878.0,208.000,2038
43,BYCOR Construction,42887486.0,7544529.0,34000000.0,5965.890,2038
44,AllStar Water Heaters,263148.0,106665.0,134614.0,744.000,2027

####Verdict: We need to look at owners, not customers.