# Master Project Table

#### Damon Crockett, damon@civicknowledge.com

In [3]:
%matplotlib inline
import pandas as pd
import sqlite3
import json
import dateutil.parser
import datetime
import os
import gzip
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import pearsonr

### Create appropriate dataframe from database file

In [4]:
# create connection and cursor for database file 

con = sqlite3.connect('/Users/damoncrockett/Dropbox/thinkpad_desktop_2/DSD_sqlite_db/projects.db')
cur = con.cursor()

#### A check for 'deemed complete' or another related key that indicates meaningful start date

In [5]:
keys_length = []

for row in cur.execute('SELECT data FROM json'):
        d = json.loads(str(row[0]).decode('zlib'))
        
        keys_length.append(len(d.keys()))

In [6]:
from collections import Counter

Counter(keys_length)

Counter({19: 231009, 12: 5})

In [7]:
which_keys = []

for row in cur.execute('SELECT data FROM json'):
        d = json.loads(str(row[0]).decode('zlib'))
        
        if len(d.keys()) == 19:
            which_keys.append(d.keys())

In [8]:
key_df = pd.DataFrame(which_keys)

In [9]:
key_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,ApplicationExpiration,Customers,ProjectManagerId,Jobs,AccountNum,Title,Invoices,ProjectId,JobOrderNum,ApplicationExpired,Header,DevelopmentId,AdminHold,ReviewCycles,Fees,Scope,ProjectManager,ApplicationDate,DevelopmentTitle
1,ApplicationExpiration,Customers,ProjectManagerId,Jobs,AccountNum,Title,Invoices,ProjectId,JobOrderNum,ApplicationExpired,Header,DevelopmentId,AdminHold,ReviewCycles,Fees,Scope,ProjectManager,ApplicationDate,DevelopmentTitle
2,ApplicationExpiration,Customers,ProjectManagerId,Jobs,AccountNum,Title,Invoices,ProjectId,JobOrderNum,ApplicationExpired,Header,DevelopmentId,AdminHold,ReviewCycles,Fees,Scope,ProjectManager,ApplicationDate,DevelopmentTitle
3,ApplicationExpiration,Customers,ProjectManagerId,Jobs,AccountNum,Title,Invoices,ProjectId,JobOrderNum,ApplicationExpired,Header,DevelopmentId,AdminHold,ReviewCycles,Fees,Scope,ProjectManager,ApplicationDate,DevelopmentTitle
4,ApplicationExpiration,Customers,ProjectManagerId,Jobs,AccountNum,Title,Invoices,ProjectId,JobOrderNum,ApplicationExpired,Header,DevelopmentId,AdminHold,ReviewCycles,Fees,Scope,ProjectManager,ApplicationDate,DevelopmentTitle

In [10]:
# iterate through this manually

key_df[18].value_counts()

DevelopmentTitle    231009
dtype: int64

#### verdict: keys do not vary over the years

In [11]:
# generator to grab a collection of relevant variables from each record

def gen(cur):
    for row in cur.execute('SELECT data FROM json'):
        d = json.loads(str(row[0]).decode('zlib'))
        
        if 'DevelopmentId' in d:
            
            keys = ['DevelopmentId',
                    'DevelopmentTitle',
                    'Title',
                    'ProjectId',
                    'Scope',
                    'ApplicationDate',
                    'ApplicationExpired',
                    'ApplicationExpiration',
                    'ProjectManagerId',
                    'ProjectManager',
                    'Customers']
            
            yield {key:d[key] for key in keys}

In [12]:
# create dataframe from generator
df = pd.DataFrame(gen(cur))

In [15]:
sum(df.ProjectId.value_counts())

231009

### Clean up dataframe

In [14]:
# parse ISO 8601
df.ApplicationDate = df.ApplicationDate.apply(dateutil.parser.parse)

In [15]:
tmp = []

for item in df.ApplicationExpiration:
    if item:
        item = dateutil.parser.parse(item)
        tmp.append(item)
    else:
        tmp.append('nan')

In [16]:
df.ApplicationExpiration = tmp

### Some Exploration

In [17]:
df.head()

,ApplicationDate,ApplicationExpiration,ApplicationExpired,Customers,DevelopmentId,DevelopmentTitle,ProjectId,ProjectManager,ProjectManagerId,Scope,Title
0,2009-12-23 17:00:00,2019-12-21 17:00:00,False,"[{u'ProjectId': 1001, u'Name': u'Sandy Finn', ...",1001,New Carwash,1001,{u'EmailAddress': u'dsdprojectinfo@sandiego.go...,3328,,TESTPROJECT
1,2005-06-28 17:00:00,NaT,False,"[{u'ProjectId': 1040, u'Name': u'Michael E Tur...",1040,4026 RIVIERA,1040,{u'EmailAddress': u'dsdprojectinfo@sandiego.go...,3367,"Pacific Beach, WO#41-0365. (PROCESS 3) Coastal...",4026 Riviera
2,2005-06-28 17:00:00,NaT,False,"[{u'ProjectId': 1041, u'Name': u'Michael E Tur...",1041,4040 RIVIERA,1041,{u'EmailAddress': u'dsdprojectinfo@sandiego.go...,3367,"Pacific Beach, WO#41-0364. (PROCESS 3) Coastal...",4040 Riviera
3,2003-08-15 17:00:00,2005-11-28 17:00:00,True,"[{u'ProjectId': 1096, u'Name': u'Mark Davis', ...",1096,Lot 11 Bernardo Industrial Pk,1096,{u'EmailAddress': u'dsdprojectinfo@sandiego.go...,3130,"JO# 41-0679, RANCHO BERNARDO; (PROCESS 4) Sit...",Rancho Bernardo Lot 11
4,2004-12-15 17:00:00,NaT,False,"[{u'ProjectId': 1102, u'Name': u'Bob Kaplan', ...",1102,Marriott Residence Inn - MV,1102,{u'EmailAddress': u'dsdprojectinfo@sandiego.go...,2980,Grading and public improvoement. See WO#41058...,Marriott Residence Inn - MV

In [18]:
len(df.index)

231009

In [19]:
len(df.DevelopmentId.unique())

155772

In [20]:
df.DevelopmentId.min()

0

In [21]:
df.sort(['DevelopmentId']).head()

,ApplicationDate,ApplicationExpiration,ApplicationExpired,Customers,DevelopmentId,DevelopmentTitle,ProjectId,ProjectManager,ProjectManagerId,Scope,Title
25569,2004-09-29 17:00:00,2005-09-24 17:00:00,True,"[{u'ProjectId': 52697, u'Name': u'Engineering ...",0,Hold Non-Project Info,52697,{u'EmailAddress': u'dsdprojectinfo@sandiego.go...,3509,UPTOWN - MR-1000 - MCCPD; Combination permit ...,JSK Properties - Res.Deck
0,2009-12-23 17:00:00,2019-12-21 17:00:00,False,"[{u'ProjectId': 1001, u'Name': u'Sandy Finn', ...",1001,New Carwash,1001,{u'EmailAddress': u'dsdprojectinfo@sandiego.go...,3328,,TESTPROJECT
152675,2011-09-27 17:00:00,2012-09-26 17:00:00,True,"[{u'ProjectId': 258111, u'Name': u'Phil Kern',...",1001,New Carwash,258111,{u'EmailAddress': u'dsdprojectinfo@sandiego.go...,3329,Delete,TESTPROJECT
344,2003-08-04 17:00:00,NaT,False,"[{u'ProjectId': 6776, u'Name': u'Pedro Garcia'...",1001,New Carwash,6776,"{u'EmailAddress': u'khcook@sandiego.gov', u'Ac...",3328,PROJECT CLOSED DUE TO INACTIVITY - File to wil...,MANSOUR RESIDENCE
73253,2007-07-18 17:00:00,2008-07-12 17:00:00,True,"[{u'ProjectId': 125995, u'Name': u'Adrian Moon...",1001,New Carwash,125995,{u'EmailAddress': u'dsdprojectinfo@sandiego.go...,3473,,DO NOT USE!!

In [22]:
df.DevelopmentId.max()

252279

In [23]:
len(df.ProjectId.unique())

231009

In [24]:
df.ProjectId.min()

1001

In [25]:
df.ProjectId.max()

399873

In [26]:
df.ApplicationDate.min()

Timestamp('2003-01-01 17:00:00', tz=None)

In [27]:
df.ApplicationDate.max()

Timestamp('2014-12-05 10:21:00', tz=None)

In [28]:
len(df.ProjectManagerId.unique())

275

In [29]:
df.ProjectManagerId.min()

2786

In [30]:
df.ProjectManagerId.max()

6991

In [31]:
df.ApplicationExpired.value_counts()

False    117103
True     113906
dtype: int64

### Additional cleanup

In [32]:
df.rename(columns = {'Scope':'ProjectScope'}, inplace = True)

In [40]:
tmp = []

for i in df.ProjectManager:
    tmp.append(i['Name'])

In [42]:
df.ProjectManager = tmp

In [43]:
df.head()

,ApplicationDate,ApplicationExpiration,ApplicationExpired,Customers,DevelopmentId,DevelopmentTitle,ProjectId,ProjectManager,ProjectManagerId,ProjectScope,Title
0,2009-12-23 17:00:00,2019-12-21 17:00:00,False,"[{u'ProjectId': 1001, u'Name': u'Sandy Finn', ...",1001,New Carwash,1001,"Cook, Kevin",3328,,TESTPROJECT
1,2005-06-28 17:00:00,NaT,False,"[{u'ProjectId': 1040, u'Name': u'Michael E Tur...",1040,4026 RIVIERA,1040,"Korch, Bob",3367,"Pacific Beach, WO#41-0365. (PROCESS 3) Coastal...",4026 Riviera
2,2005-06-28 17:00:00,NaT,False,"[{u'ProjectId': 1041, u'Name': u'Michael E Tur...",1041,4040 RIVIERA,1041,"Korch, Bob",3367,"Pacific Beach, WO#41-0364. (PROCESS 3) Coastal...",4040 Riviera
3,2003-08-15 17:00:00,2005-11-28 17:00:00,True,"[{u'ProjectId': 1096, u'Name': u'Mark Davis', ...",1096,Lot 11 Bernardo Industrial Pk,1096,"Daly, Tim",3130,"JO# 41-0679, RANCHO BERNARDO; (PROCESS 4) Sit...",Rancho Bernardo Lot 11
4,2004-12-15 17:00:00,NaT,False,"[{u'ProjectId': 1102, u'Name': u'Bob Kaplan', ...",1102,Marriott Residence Inn - MV,1102,"Sammak, Mo",2980,Grading and public improvoement. See WO#41058...,Marriott Residence Inn - MV

In [57]:
customers_count = []

for i in df.Customers:
    customers_count.append(len(i))

In [58]:
from collections import Counter

Counter(customers_count)

Counter({3: 61473, 2: 50305, 4: 28936, 1: 24990, 5: 19989, 6: 15877, 7: 10445, 8: 6752, 9: 4235, 10: 2456, 0: 1873, 11: 1464, 12: 818, 13: 485, 14: 321, 15: 192, 16: 121, 17: 81, 18: 51, 20: 34, 19: 27, 21: 20, 24: 11, 23: 10, 22: 9, 25: 5, 28: 5, 29: 4, 32: 4, 35: 4, 26: 3, 27: 3, 30: 2, 31: 1, 33: 1, 34: 1, 41: 1})

In [47]:
def gen_customers(series):
    for i in series:
        n = len(i)
        
        for j in range(n):
            yield i[j]

In [48]:
customers = pd.DataFrame(gen_customers(df.Customers))

In [75]:
#customers.to_csv('/home/damoncrockett/vosd.org/215-opendsd/customers_complete.csv', encoding= 'utf-8')

In [76]:
del df['Customers']

In [77]:
df.head()

,ApplicationDate,ApplicationExpiration,ApplicationExpired,DevelopmentId,DevelopmentTitle,ProjectId,ProjectManager,ProjectManagerId,ProjectScope,Title
0,2009-12-23 17:00:00,2019-12-21 17:00:00,False,1001,New Carwash,1001,"Cook, Kevin",3328,,TESTPROJECT
1,2005-06-28 17:00:00,NaT,False,1040,4026 RIVIERA,1040,"Korch, Bob",3367,"Pacific Beach, WO#41-0365. (PROCESS 3) Coastal...",4026 Riviera
2,2005-06-28 17:00:00,NaT,False,1041,4040 RIVIERA,1041,"Korch, Bob",3367,"Pacific Beach, WO#41-0364. (PROCESS 3) Coastal...",4040 Riviera
3,2003-08-15 17:00:00,2005-11-28 17:00:00,True,1096,Lot 11 Bernardo Industrial Pk,1096,"Daly, Tim",3130,"JO# 41-0679, RANCHO BERNARDO; (PROCESS 4) Sit...",Rancho Bernardo Lot 11
4,2004-12-15 17:00:00,NaT,False,1102,Marriott Residence Inn - MV,1102,"Sammak, Mo",2980,Grading and public improvoement. See WO#41058...,Marriott Residence Inn - MV

In [78]:
#df.to_csv('/home/damoncrockett/vosd.org/215-opendsd/dev_proj_cust.csv', encoding= 'utf-8')