In [1]:
import pandas as pd

In [2]:
d = pd.read_csv('/Users/damoncrockett/vosd.org/215-opendsd/tables/approvals_parcels_CPA_2.csv')

In [4]:
del d['Unnamed: 0']

In [5]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 360725 entries, 0 to 360724
Data columns (total 31 columns):
APN                360725 non-null int64
ApplicationYear    360725 non-null int64
TimetoIssue        314060 non-null float64
Status             360725 non-null object
StreetAddress      360725 non-null object
Type               360725 non-null object
category           358956 non-null object
ProjectId          360725 non-null int64
ApprovalId         360725 non-null int64
Latitude           360725 non-null float64
Longitude          360725 non-null float64
CPA                360546 non-null object
situs_juri         330699 non-null object
asr_land           330699 non-null float64
asr_impr           330699 non-null float64
asr_total          330699 non-null float64
shape_area         330699 non-null float64
own_name1          330699 non-null object
own_name2          23457 non-null object
own_name3          2890 non-null object
ownerocc           132909 non-null object
taxstat            330699 non-null object
tranum             330699 non-null float64
nucleus_zo         330699 non-null float64
asr_landus         330699 non-null float64
nucleus_us         330699 non-null float64
unitqty            330699 non-null float64
multi              320885 non-null object
lat                330699 non-null float64
lon                330699 non-null float64
community_name     330699 non-null object
dtypes: float64(14), int64(4), object(13)
memory usage: 88.1+ MB

In [81]:
d[d.category=='Discretionary'].Type.value_counts()

Coastal Development Permit        1660
Site Development Permit           1261
Tentative Map                      822
Conditional Use Permit             742
Map Waiver                         703
Neighborhood Use Permit            507
Planned Development Permit         506
Neighborhood Developmnt Permit     285
Public Right of Way Dedication     282
Easement Vacation                  233
Variance                           207
Public Right of Way Vacation       177
Vesting Tentative Map              147
Rezone                             111
Master Plan, Establish              78
Land Use Plan                       66
Extension of Time - Dev. Pmt        51
Public R.O.W. Use Permit            28
Street Name Change                  28
Emergency Coastal Dev Permit        12
Amendment of Approved Map           10
City Council Approval                5
Emergency Authorization-ESL          3
City Manager Approval                2
Financing Plan                       2
Cost Reimbursement Agreement         1
Community Plan Amendment             1
Resource Protection Ordinance        1
Development Agreement                1
Conditional Use Pmt-Comp Unit        1
dtype: int64

In [84]:
d[d.Type=='Variance'].own_name1.value_counts()

TOPALOVIC ISMET&ZINETA                                     3
CARLISLE JAMES S&CAROL A TRUST 12-21-96                    2
GABRIELLI JULIE K                                          2
MORRIS MICHAEL&CAROL TRUST 05-06-04                        2
NICHOLS MARK W                                             2
VARGAS JOANNE E                                            1
BONAR FAMILY TRUST 10-09-12                                1
MELLO FAMILY TRUST 02-14-12                                1
SAN DIEGO GAS&ELECTRIC CO                                  1
DRIBBEN RONALD M&DOLLY M                                   1
HOLTHUS THOMAS J                                           1
HEALY FAMILY LIVING TRUST 08-03-73                         1
FRANKLIN THOMAS D                                          1
MASON BENJAMIN&CHRISTINE O                                 1
BLANKENSHIP WILLIAM F                                      1
SANDBORN WILLIAM J&KENNA A J                               1
WERNER MATHEW&ERIN                                         1
GILLISPIE SCHOOL                                           1
SEGAL JONATHAN S&WENDY L                                   1
CHENANGO TRUST                                             1
COHELAN FAMILY REVOCABLE TRUST                             1
WILLIAMS REVOCABLE TRUST 04-18-01                          1
SIGLER JUDITH R TRUST 11-26-01                             1
PFLUM MARTIN J&PATRICIA A FAMILY TRUST 04-27-94            1
TRUDELL GEORGE J&THERESE A                                 1
WILLIAMSON ROBIN L LIVING TRUST 04-12-13                   1
HH&M (LA JOLLA) LTD                                        1
LEWIS DANIEL C TRUST 05-29-01                              1
EUSTON PROPERTIES L L C                                    1
PHAM CHIEU L                                               1
                                                          ..
ELLIOTT MAX L JR&GANTZEL KAIA TRUST 09-26-00               1
JOHNSON THOMAS M                                           1
KRIMSKY ROBERT C TRUST 03-14-00                            1
D R SUNSHINE PROPERTIES L L C                              1
GARRETT MOSES&VALLEJO-GARRETT MONICA R                     1
SPRIGGS FAMILY TRUST 05-17-85                              1
NUGENT JUDY D REVOC TRUST 04-26-2005                       1
STOIA LAURA K                                              1
HOANG BRUCE                                                1
WIERZYNSKI CASIMIR M&KIM S JEAN                            1
CARASALI ANTONIO                                           1
BERGER JOEL S TRUST 01-10-12                               1
MADISON MARY-CAROL TRUST 01-05-12                          1
KING/CHAVEZ FACILITIES L L C                               1
NGUYEN TAN&DANG ELIZABETH                                  1
VILETTA L L C                                              1
COLANDREA LIVING TRUST 11-18-88                            1
RAHIMIFAR SURVIVORS TRUST 04-12-04                         1
FINK EDWARD J REVOCABLE TRUST 11-10-03                     1
DURBIN FAMILY SURVIVORS TRUST SHARE 07-08-94               1
PRESBYTERY OF SAN DIEGO                                    1
STEPHAN GEORGE J&DEBRA D                                   1
FEREN MICHAEL&LISA                                         1
LEGZDINS JANIS&ROHRBAUGH KAREN                             1
STEADFAST VILLA NUEVA L P                                  1
HALL CHRISTOPHER J&AMY E                                   1
COFFMAN FAMILY TRUST 09-22-08                              1
MCGW LLC                                                   1
SOUTHEASTERN CALIF CONFERENCE OF SEVENTH-DAY ADVENTISTS    1
AYABUDGE L L C                                             1
dtype: int64

In [6]:
len(d.APN.value_counts())

125969

In [8]:
d.APN.value_counts().head()

4372912900    1411
3450901600     912
4380303200     535
5340531200     522
5334031000     509
dtype: int64

In [9]:
s = d[d.APN==5334031000]

In [14]:
s.ApplicationYear.value_counts()

2007    130
2013    122
2014     77
2008     28
2010     26
2004     25
2006     24
2012     21
2009     20
2003     18
2005     16
2011      2
dtype: int64

In [15]:
d.ApplicationYear.value_counts()

2013    36388
2005    35411
2004    34367
2014    33933
2006    33932
2007    32444
2012    30280
2008    29119
2009    27263
2010    27205
2011    26956
2003    13427
dtype: int64

In [39]:
hoods = d.CPA.value_counts()[:19].index

In [42]:
n = len(d.index)
major = []

for i in range(n):
    if d.CPA.loc[i] in hoods:
        major.append(True)
    else:
        major.append(False)

In [44]:
d['major_hood'] = major

In [46]:
dm = d[d.major_hood==True]

In [47]:
dm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 255617 entries, 0 to 360724
Data columns (total 32 columns):
APN                255617 non-null int64
ApplicationYear    255617 non-null int64
TimetoIssue        222073 non-null float64
Status             255617 non-null object
StreetAddress      255617 non-null object
Type               255617 non-null object
category           254161 non-null object
ProjectId          255617 non-null int64
ApprovalId         255617 non-null int64
Latitude           255617 non-null float64
Longitude          255617 non-null float64
CPA                255617 non-null object
situs_juri         237011 non-null object
asr_land           237011 non-null float64
asr_impr           237011 non-null float64
asr_total          237011 non-null float64
shape_area         237011 non-null float64
own_name1          237011 non-null object
own_name2          16465 non-null object
own_name3          1782 non-null object
ownerocc           92674 non-null object
taxstat            237011 non-null object
tranum             237011 non-null float64
nucleus_zo         237011 non-null float64
asr_landus         237011 non-null float64
nucleus_us         237011 non-null float64
unitqty            237011 non-null float64
multi              232886 non-null object
lat                237011 non-null float64
lon                237011 non-null float64
community_name     237011 non-null object
major_hood         255617 non-null bool
dtypes: bool(1), float64(14), int64(4), object(13)
memory usage: 62.7+ MB

In [48]:
dm = dm[dm.ApplicationYear > 2012]

In [52]:
len(dm.index[dm.TimetoIssue.isnull()])

5382

In [53]:
dm = dm[dm.TimetoIssue.notnull()]

In [54]:
dm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44552 entries, 203858 to 314058
Data columns (total 32 columns):
APN                44552 non-null int64
ApplicationYear    44552 non-null int64
TimetoIssue        44552 non-null float64
Status             44552 non-null object
StreetAddress      44552 non-null object
Type               44552 non-null object
category           43912 non-null object
ProjectId          44552 non-null int64
ApprovalId         44552 non-null int64
Latitude           44552 non-null float64
Longitude          44552 non-null float64
CPA                44552 non-null object
situs_juri         43368 non-null object
asr_land           43368 non-null float64
asr_impr           43368 non-null float64
asr_total          43368 non-null float64
shape_area         43368 non-null float64
own_name1          43368 non-null object
own_name2          2836 non-null object
own_name3          330 non-null object
ownerocc           18035 non-null object
taxstat            43368 non-null object
tranum             43368 non-null float64
nucleus_zo         43368 non-null float64
asr_landus         43368 non-null float64
nucleus_us         43368 non-null float64
unitqty            43368 non-null float64
multi              42500 non-null object
lat                43368 non-null float64
lon                43368 non-null float64
community_name     43368 non-null object
major_hood         44552 non-null bool
dtypes: bool(1), float64(14), int64(4), object(13)
memory usage: 10.9+ MB

In [56]:
dm = dm[dm.Status=='Completed']

In [57]:
dm = dm[dm.unitqty.notnull()]

In [60]:
dm.APN.value_counts().head()

5334031000    158
4372912900    135
4380305400    107
5335221100    105
5340531200     96
dtype: int64

In [67]:
di = pd.read_csv('/Users/damoncrockett/vosd.org/215-opendsd/tables/invoice_table_basic.csv')

In [62]:
di.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 472132 entries, 0 to 472131
Data columns (total 5 columns):
InvoiceId        472132 non-null int64
InvoiceStatus    472132 non-null object
ProjectId        472132 non-null int64
TotalAmount      456650 non-null float64
PaidDate         340688 non-null object
dtypes: float64(1), int64(2), object(2)
memory usage: 21.6+ MB

In [68]:
from dateutil import parser

In [69]:
di = di[di.PaidDate.notnull()]

In [70]:
di.PaidDate = di.PaidDate.apply(parser.parse)

In [71]:
import datetime

In [72]:
di.PaidDate = di.PaidDate.apply(datetime.datetime.date)

In [74]:
di = di[di.InvoiceStatus=='Paid']

In [75]:
di.head()

   InvoiceId InvoiceStatus  ProjectId  TotalAmount    PaidDate
2     107465          Paid       1040         3000  2005-06-28
3     107464          Paid       1041         1700  2005-06-28
4     138746          Paid       1096          500  2006-02-06
5      71395          Paid       1096         5000  2004-10-28
6      78488          Paid       1102         4490  2004-12-15

In [77]:
di['year'] = di.PaidDate.map(lambda x: x.year)

In [78]:
di = di[di.year > 2012]