In [1]:
import pandas as pd

In [2]:
DATA = "/Users/damoncrockett/vosd.org/215-opendsd/tables/invoice_table_basic.csv"

In [3]:
df = pd.read_csv(DATA)

In [4]:
df.head()

   InvoiceId InvoiceStatus  ProjectId  TotalAmount             PaidDate
0     544002     Estimated       1001           60                  NaN
1     340152     Estimated       1001           42                  NaN
2     107465          Paid       1040         3000  2005-06-28T14:19:44
3     107464          Paid       1041         1700  2005-06-28T14:22:05
4     138746          Paid       1096          500  2006-02-06T13:28:54

In [5]:
df.InvoiceStatus.value_counts()

Paid         349946
Estimated     67393
Voided        49539
Invoiced       3049
Cancelled      2205
dtype: int64

In [6]:
df = df[df.InvoiceStatus=="Paid"]

In [7]:
df = df[df.PaidDate.notnull()]

In [8]:
len(df)

338533

In [9]:
df.reset_index(drop=True,inplace=True)

In [10]:
from dateutil import parser

In [11]:
df['parsed'] = df.PaidDate.apply(parser.parse)

In [12]:
df['year'] = df.parsed.map(lambda x:x.year)

In [13]:
df.columns

Index([u'InvoiceId', u'InvoiceStatus', u'ProjectId', u'TotalAmount',
       u'PaidDate', u'parsed', u'year'],
      dtype='object')

In [14]:
df = df[['ProjectId','TotalAmount','year']]

In [15]:
import numpy as np

In [16]:
tmp = pd.DataFrame(df.groupby('ProjectId').agg({'TotalAmount': np.sum,
                            'year': np.mean}))

In [17]:
tmp.reset_index(inplace=True)

In [18]:
tmp['yr_rounded'] = tmp.year.apply(np.round)

In [19]:
tmp = tmp[['yr_rounded','TotalAmount']]

In [20]:
tmp.groupby('yr_rounded').agg([np.mean,np.median])

            TotalAmount
                   mean  median
yr_rounded
2003        1474.792536  310.70
2004        2910.608596  486.80
2005        4689.153667  498.86
2006        4840.043187  630.20
2007        6122.611067  512.00
2008        4531.491059  535.00
2009        3647.617549  333.00
2010        4910.216854  636.00
2011        3758.094033  445.00
2012        4870.672249  495.00
2013        5331.312581  445.00
2014        4170.315179  445.00

In [21]:
tmp = pd.DataFrame(df.groupby('ProjectId').agg({'TotalAmount': np.sum,
                            'year': np.mean}))

In [23]:
tmp.reset_index(inplace=True)

In [24]:
tmp['yr_rounded'] = tmp.year.apply(np.round)

In [26]:
tmp = tmp[['ProjectId','TotalAmount','yr_rounded']]

In [28]:
tmp.to_csv('/Users/damoncrockett/vosd.org/215-opendsd/tables/fees_project_year.csv',index=False)