In [4]:
import pandas as pd

In [5]:
d = pd.read_csv('/Users/damoncrockett/Dropbox/thinkpad_home/vosd.org/215-opendsd/approval_master_FULL.csv')

/Library/Python/2.7/site-packages/pandas/io/parsers.py:1164: DtypeWarning: Columns (11,14) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [6]:
d.columns

Index([u'Unnamed: 0', u'APN', u'ApplicationDate', u'ApplicationExpiration', u'ApplicationExpired', u'ApplicationMonth', u'ApplicationYear', u'ApprovalId', u'Description', u'DevelopmentId', u'DevelopmentTitle', u'IssueDate', u'IssueMonth', u'IssueYear', u'IssuedBy', u'JobId', u'Latitude', u'Longitude', u'PermitHolder', u'ProjectId', u'ProjectManager', u'ProjectManagerId', u'ProjectScope', u'Scope', u'Status', u'StreetAddress', u'TimetoIssue', u'Title', u'Type', u'category'], dtype='object')

In [47]:
d[d.APN == '545-351-08-00']

Empty DataFrame
Columns: [Unnamed: 0, APN, ApplicationDate, ApplicationExpiration, ApplicationExpired, ApplicationMonth, ApplicationYear, ApprovalId, Description, DevelopmentId, DevelopmentTitle, IssueDate, IssueMonth, IssueYear, IssuedBy, JobId, Latitude, Longitude, PermitHolder, ProjectId, ProjectManager, ProjectManagerId, ProjectScope, Scope, Status, StreetAddress, TimetoIssue, Title, Type, category]
Index: []

[0 rows x 30 columns]

In [48]:
d[d.StreetAddress.str.contains('IMPERIAL') & d.StreetAddress.str.contains('2835')]

Empty DataFrame
Columns: [Unnamed: 0, APN, ApplicationDate, ApplicationExpiration, ApplicationExpired, ApplicationMonth, ApplicationYear, ApprovalId, Description, DevelopmentId, DevelopmentTitle, IssueDate, IssueMonth, IssueYear, IssuedBy, JobId, Latitude, Longitude, PermitHolder, ProjectId, ProjectManager, ProjectManagerId, ProjectScope, Scope, Status, StreetAddress, TimetoIssue, Title, Type, category]
Index: []

[0 rows x 30 columns]

In [28]:
c = pd.read_csv('/Users/damoncrockett/Dropbox/thinkpad_home/vosd.org/215-opendsd/customers_complete.csv')

In [31]:
c[c.Name.str.contains('Gilliam')]

,Unnamed: 0,CustomerId,FirmName,Name,ProjectId,Role
2985,2985,53066,NaN,Brazil Gilliam,13013,Point of Contact
2986,2986,53066,NaN,Brazil Gilliam,13013,Owner
38417,38417,53066,NaN,Brazil Gilliam,40692,Point of Contact
50912,50912,44068,NaN,Kevin Gilliam,49162,Owner
255963,255963,175014,NaN,Kirk Gilliam,139562,Contractor - Elect
255964,255964,175014,NaN,Kirk Gilliam,139562,Point of Contact
255965,255965,175014,NaN,Kirk Gilliam,139562,Inspection Contact
280826,280826,175014,NaN,Kirk Gilliam,149079,Point of Contact
462728,462728,248469,NaN,Wirt Gilliam,228682,Owner
727257,727257,314572,NaN,Donnie Gilliam,348301,Owner
744668,744668,175014,NaN,Kirk Gilliam,354316,Contractor - Gen
744669,744669,175014,NaN,Kirk Gilliam,354316,Point of Contact
786626,786626,328863,NaN,James Gilliam,370847,Applicant
786627,786627,328863,NaN,James Gilliam,370847,Point of Contact
786628,786628,328863,NaN,James Gilliam,370847,New Owner