In [161]:
import pandas as pd

In [162]:
di = pd.read_csv('/Users/damoncrockett/vosd.org/215-opendsd/tables/invoice_table_basic.csv')

In [163]:
di.head()

   InvoiceId InvoiceStatus  ProjectId  TotalAmount             PaidDate
0     544002     Estimated       1001           60                  NaN
1     340152     Estimated       1001           42                  NaN
2     107465          Paid       1040         3000  2005-06-28T14:19:44
3     107464          Paid       1041         1700  2005-06-28T14:22:05
4     138746          Paid       1096          500  2006-02-06T13:28:54

In [164]:
from dateutil import parser

In [165]:
di = di[di.PaidDate.notnull()]

In [166]:
di.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 340688 entries, 2 to 472131
Data columns (total 5 columns):
InvoiceId        340688 non-null int64
InvoiceStatus    340688 non-null object
ProjectId        340688 non-null int64
TotalAmount      340688 non-null float64
PaidDate         340688 non-null object
dtypes: float64(1), int64(2), object(2)
memory usage: 15.6+ MB

In [167]:
di.PaidDate = di.PaidDate.apply(parser.parse)

In [168]:
di.head()

   InvoiceId InvoiceStatus  ProjectId  TotalAmount            PaidDate
2     107465          Paid       1040         3000 2005-06-28 14:19:44
3     107464          Paid       1041         1700 2005-06-28 14:22:05
4     138746          Paid       1096          500 2006-02-06 13:28:54
5      71395          Paid       1096         5000 2004-10-28 13:38:43
6      78488          Paid       1102         4490 2004-12-15 09:54:57

In [169]:
len(di.ProjectId.value_counts())

224003

In [170]:
da = pd.read_csv('/Users/damoncrockett/vosd.org/215-opendsd/tables/approvals_parcels_CPA.csv')

In [171]:
len(da.index)

360725

In [172]:
len(da.index[da.community_name.isnull()])

30026

In [173]:
len(da.index[da.CPA.isnull()])

237

In [174]:
da.CPA[da.community_name=='Carmel Valley'].value_counts()

OCEAN BEACH                10862
PACIFIC HIGHLANDS RANCH       21
dtype: int64

In [175]:
da.columns

Index([u'Unnamed: 0', u'APN', u'ApplicationYear', u'TimetoIssue', u'Status', u'StreetAddress', u'Type', u'category', u'ProjectId', u'ApprovalId', u'Latitude', u'Longitude', u'CPA', u'situs_juri', u'asr_land', u'asr_impr', u'asr_total', u'shape_area', u'own_name1', u'own_name2', u'own_name3', u'ownerocc', u'taxstat', u'tranum', u'nucleus_zo', u'asr_landus', u'nucleus_us', u'unitqty', u'multi', u'lat', u'lon', u'community_name'], dtype='object')

In [176]:
da.Latitude[da.community_name=='Carmel Valley'].min()

32.920163000000002

In [177]:
da.community_name[da.CPA=='OCEAN BEACH'].value_counts()

Carmel Valley    10862
Ocean Beach       2730
dtype: int64

In [178]:
da.CPA[da.community_name=='Carmel Valley'] = 'CARMEL VALLEY'

/Library/Python/2.7/site-packages/IPython/kernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [179]:
da.CPA.value_counts()

MIRA MESA                              23668
UNIVERSITY                             21148
DOWNTOWN                               20730
LA JOLLA                               20685
CLAIREMONT MESA                        17395
PENINSULA                              16397
UPTOWN                                 15803
NAVAJO                                 13465
RANCHO BERNARDO                        12283
CARMEL VALLEY                          10883
KEARNY MESA                            10707
GREATER NORTH PARK                     10707
MISSION VALLEY                         10215
PACIFIC BEACH                          10137
SOUTHEASTERN SAN DIEGO,SOUTHEASTERN     9139
RANCHO PENASQUITOS                      8738
MID-CITY:CITY HEIGHTS                   8689
SKYLINE-PARADISE HILLS                  7486
ENCANTO NEIGHBORHOODS,SOUTHEASTERN      7293
SCRIPPS MIRAMAR RANCH                   7268
MID-CITY:EASTERN AREA                   7060
OTAY MESA                               6356
SERRA MESA                              6075
OTAY MESA-NESTOR                        5873
LINDA VISTA                             5207
TIERRASANTA                             5179
BLACK MOUNTAIN RANCH                    4987
MID-CITY:KENSINGTON-TALMADGE            4944
TORREY PINES                            4712
COLLEGE AREA                            4169
SAN YSIDRO                              4085
OCEAN BEACH                             3748
CARMEL MOUNTAIN RANCH                   3248
MIDWAY-PACIFIC HIGHWAY                  3205
GREATER GOLDEN HILL                     3146
MID-CITY:NORMAL HEIGHTS                 2878
MIRAMAR RANCH NORTH                     2780
SABRE SPRINGS                           2556
PACIFIC HIGHLANDS RANCH                 2466
MISSION BEACH                           2377
TORREY HILLS                            2056
TORREY HIGHLANDS                        1960
RANCHO ENCANTADA                        1900
DEL MAR MESA                            1387
BARRIO LOGAN                            1266
BALBOA PARK                              819
MISSION BAY PARK                         802
RESERVE                                  791
OLD TOWN SAN DIEGO                       473
SAN PASQUAL                              407
FAIRBANKS RANCH COUNTRY CLUB             269
VIA DE LA VALLE                          151
NCFUA SUBAREA II                         123
MILITARY FACILITIES                       82
EAST ELLIOTT                              74
TIJUANA RIVER VALLEY                      37
LOS PENASQUITOS CANYON                     4
dtype: int64

In [180]:
len(da.index[da.CPA.isnull()])

237

In [181]:
da.community_name[da.CPA.isnull()].value_counts()

Peninsula       49
East Elliott     9
dtype: int64

In [182]:
da.CPA[da.CPA.isnull()] = da.community_name

/Library/Python/2.7/site-packages/IPython/kernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [183]:
len(da.index[da.CPA.isnull()])

179

In [184]:
da.CPA = da.CPA.map(lambda x:str(x).lower())
da.community_name = da.community_name.map(lambda x:str(x).lower())

In [185]:
len(da.index[da.CPA!=da.community_name])

30082

In [186]:
da.community_name[da.CPA!=da.community_name].value_counts()

nan                     29847
peninsula                 102
rancho encantada           41
mission valley             31
military facilities        18
barrio logan               16
mission beach              12
otay mesa-nestor            3
la jolla                    3
navajo                      2
rancho penasquitos          2
san ysidro                  2
otay mesa                   1
black mountain ranch        1
linda vista                 1
dtype: int64

In [240]:
da.to_csv('/Users/damoncrockett/vosd.org/215-opendsd/tables/approvals_parcels_CPA_2.csv',index=False)

In [211]:
cpp = pd.read_csv('/Users/damoncrockett/vosd.org/215-opendsd/tables/by_CPA_parcels.csv')

In [192]:
import numpy as np

In [212]:
tmp = da[da.CPA!='nan'].groupby('CPA').agg({'shape_area': np.mean})

In [213]:
tmp.reset_index(inplace=True)

In [214]:
cpp['area'] = tmp['shape_area']

In [215]:
cpp['parcel_density'] = cpp.parcels/cpp.area

In [216]:
cpp.head()

,community_name,asr_land,asr_impr,asr_total,lat,lon,parcels,area,parcel_density
0,Balboa Park,2969.0,4452,7421,32.731725,-117.145311,85,43542228.126513,0.000002
1,Barrio Logan,102000.0,26971,152757,32.695733,-117.139058,867,104167.727642,0.008323
2,Black Mountain Ranch,255000.0,313817,572882,33.001031,-117.147235,3447,46044.885698,0.074862
3,Carmel Mountain Ranch,142000.0,180000,338000,32.975746,-117.072782,4035,136217.264608,0.029622
4,Carmel Valley,259012.5,232240,492951,32.947268,-117.226553,12838,79065.368827,0.162372

In [232]:
tmp = da[da.CPA!='nan'].groupby('CPA').size()

In [233]:
tmp = pd.DataFrame(tmp,
                  columns = ['permit_count'])
tmp.reset_index(inplace=True)

In [235]:
cpp['permit_count'] = tmp.permit_count

In [236]:
cpp.head()

,community_name,asr_land,asr_impr,asr_total,lat,lon,parcels,area,parcel_density,permit_count
0,Balboa Park,2969.0,4452,7421,32.731725,-117.145311,85,43542228.126513,0.000002,819
1,Barrio Logan,102000.0,26971,152757,32.695733,-117.139058,867,104167.727642,0.008323,1266
2,Black Mountain Ranch,255000.0,313817,572882,33.001031,-117.147235,3447,46044.885698,0.074862,4987
3,Carmel Mountain Ranch,142000.0,180000,338000,32.975746,-117.072782,4035,136217.264608,0.029622,3248
4,Carmel Valley,259012.5,232240,492951,32.947268,-117.226553,12838,79065.368827,0.162372,10883

In [237]:
cpp['per-par_ratio'] = cpp.permit_count/cpp.parcels

In [239]:
cpp.to_csv('/Users/damoncrockett/vosd.org/215-opendsd/tables/CPA_profiles.csv',index=False)

In [139]:
da = da[['ProjectId','CPA']]

In [140]:
da = da[da.CPA.notnull()]

In [141]:
len(da.index)

360725

In [142]:
len(da.ProjectId.value_counts())

214092

In [143]:
da = da.groupby('ProjectId').agg(lambda x: x.value_counts().index[0])

In [144]:
di = di.join(da,on='ProjectId')

In [145]:
di.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 340688 entries, 2 to 472131
Data columns (total 6 columns):
InvoiceId        340688 non-null int64
InvoiceStatus    340688 non-null object
ProjectId        340688 non-null int64
TotalAmount      340688 non-null float64
PaidDate         340688 non-null datetime64[ns]
CPA              319458 non-null object
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 18.2+ MB

In [146]:
di = di[di.CPA.notnull()]

In [147]:
di['year'] = di.PaidDate.map(lambda x:x.year)

In [148]:
di.head()

,InvoiceId,InvoiceStatus,ProjectId,TotalAmount,PaidDate,CPA,year
2,107465,Paid,1040,3000,2005-06-28 14:19:44,pacific beach,2005
3,107464,Paid,1041,1700,2005-06-28 14:22:05,pacific beach,2005
6,78488,Paid,1102,4490,2004-12-15 09:54:57,mission valley,2004
7,79269,Paid,1164,2500,2004-12-20 14:48:14,otay mesa,2004
9,22932,Paid,1287,10661,2003-12-11 10:58:10,pacific beach,2003

In [149]:
di.InvoiceStatus.value_counts()

Paid         317396
Cancelled      2052
Invoiced          9
Voided            1
dtype: int64

In [150]:
di = di[di.InvoiceStatus=='Paid']

In [151]:
di.to_csv('/Users/damoncrockett/vosd.org/215-opendsd/tables/invoices_CPA.csv',index=False)

In [152]:
import numpy as np

In [153]:
di = di[(di.year > 2003) & (di.year < 2014)]

In [154]:
bc = di.groupby(['CPA','year']).agg({'TotalAmount':np.sum})

In [155]:
bc.head()

                  TotalAmount
CPA         year
balboa park 2004     17110.40
            2005     53552.03
            2006     36745.85
            2007    121946.30
            2008    249417.29

In [156]:
bc.to_csv('/Users/damoncrockett/vosd.org/215-opendsd/tables/fees_by_CPA_year.csv')

In [158]:
byr = di.groupby(['year']).agg({'TotalAmount':np.sum})

In [160]:
byr.to_csv('/Users/damoncrockett/vosd.org/215-opendsd/tables/total-revenue_year.csv')